<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>You lose!  Would you like to play again?</p>
    <br>
    <form class="" action="/" method="get">
      <input type="submit" name="" value="Yes">
    </form>
    <form class="" action="/no" method="get">
      <input type="submit" name="" value="No">
    </form>
  </body>
</html>
