{{message}}
{{#model}}
{{.}}
{{/model}}
<br>
{{#array}}
  {{.}}
{{/array}}

<br>

<form class="" action="/" method="post">
  <input type="text" name="guess" value="" maxlength="1" size="1">
  <input type="submit" name="" value="Guess">
</form>

<br>

You have {{#counter}}{{.}}{{/counter}} guesses left.

You have guessed:
{{#guessed}}
{{.}}
{{/guessed}}
